<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Team Home Page</title>

    <link rel="stylesheet" href="No_team_home_style.css">

    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-firestore-compat.js"></script>
</head>

<body>
    <div class="header"></div>
    <div class="title">Text</div>
    <div class="box"></div>
    <div class="secondbox">
        <div class="invites" id="invites">Invites:</div>
    </div>
    <div class="create">Create Team:</div>
    <button class="createteam" id="createBtn">Create Team</button> 
    <input type="text" class="teamname" id="team_name" placeholder="Team name">
    <button class="signout" id="signOutBtn">Sign Out</button>
    <script src="/js/No_team_home_script.js"></script>
</body>
</html>
