<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Member Home Page</title>

    <link rel="stylesheet" href="/css/Team_member_home_style.css">

    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-firestore-compat.js"></script>
</head>

<body>
    <div class="header"></div>
    <div class="title">Text</div>
    <div class="box">
        <div class="text">Text</div>
    </div>
    <button class="teamgoal" id="goToTeamGoal">Visit Team Goals</button>
    <p id="rank">This is your Rank</p>
    <button class="signout" id="signOutBtn">Sign Out</button>
    <button class="notifications" id="notificationBtn">View Notifications</button>
    <button class="goalviewing" id="goalViewingBtn">View Goals</button>
    <script src="/js/Team_member_home_script.js"></script>
</body>
</html>
